<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a href="/" class="navbar-brand">MyApp</a>
    </div>
    <div class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">Themes <span class="caret"></span></a>
          <ul class="dropdown-menu" aria-labelledby="themes">
            <li><a href="/">Default</a></li>
            <li class="divider"></li>
            <li><a href="/">Option</a></li>
          </ul>
        </li>
        <li>
          <a href="">Help</a>
        </li>
        <li>
          <a href="#">Blog</a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="#" target="_blank">Option 1</a></li>
        <li><a href="#" target="_blank">Option 2</a></li>
      </ul>

    </div>
  </div>
</div>